*{
    box-sizing: border-box;
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: solid 1px gray;
    justify-content: space-around;
    padding: 20px;
    margin: auto; /*Centrar elementos*/    
}
form>div {
    display: flex;
}