$color-rojo:red;
$color-blanco: rgb(224, 224, 224);
$color-negro: rgb(44, 44, 44);
$color-turquesa: rgb(4, 244, 244);
$color-fondo: rgb(197, 197, 197);
$color-fuente: rgb(31, 31, 31);
$fuente-grande: 50px;
$fuente-mediana: 30px;
$fuente-chica: 15px;