/*desktop*/

body{
    background-color: red;
}
h2{
    display: none;
}
/*0px 300px*/
@media (max-width: 300px){
    body{
        background-color: green;
    }
}

/*0px 500px*/ 
/*@media (max-width: 500px){
    body{
        background-color: blue;
    }
}*/

/*300px 700px*/
@media (min-width: 400px) and (max-width: 700px) {
    body{
        background-color: blue;
    }
    h1{
        display: none; /*block-inline-flex*/
    }
    h2{
        display: block;
    } 
}